[Unit]
Description=yggapi
After=network.target

[Service]
WorkingDirectory=/opt/yggdrasil-api
ExecStart=/opt/yggdrasil-api/venv/bin/python /opt/yggdrasil-api/api/web.py
Restart=always

Type=simple

[Install]
WantedBy=multi-user.target
