/* style sheet for api pages */
body, input, textarea {
 font-family: sans-serif;
 padding: 0;
 margin: 0;
 background-color: #F0F0F0;
}a {
 text-decoration:none;
 color:#800000;
}h2 {
 font-size:18px;
}#title {
 max-width:570px;
 margin-bottom:40px;
 line-height: 35px;
 font-size: 25px;
 font-weight: bold;
 padding-top:20px;
 padding-bottom:5px;
 border-bottom:1px solid #c4c4c4;
}#wrapper {
 font-size: 15px;
 max-width: 570px;
 margin: auto;
}.contribs {
 font-size:13px;
 margin-bottom:6px;
}
